<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="AlbumApp">
    <head>
        <meta charset="utf-8">
        <title>Albums</title>
        <link href="css/list.css" rel="stylesheet" />

        <script src="js/components/angular.min.js"></script>
        <script src="js/components/angular-load.js"></script>
        <script src="js/app.js"></script>

    </head>
    <body ng-controller="AlbumController">
        <!-- ALBUMS! -->
        <!-- <button ng-click="addTracks()">TRACKS</button> -->
        <div ng-show="show_album_list" class="album-list-container">
            <div ng-repeat="album in albums" ng-click="selectAlbum(album)" class="list-album-container">
                <div class="list-album">
                    <div class="list-image-container">
                        <img class="list-image" ng-src="{{album.images[0].url}}" />
                    </div>
                    <div class="list-name-container">
                        {{album.album_name}}
                    </div>
                    <div class="list-artist-container">
                        {{album.artist}}
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="show_selected_album" class="selected-album-image-container">
            <div class="selected-album-controls">
                <button ng-click="back()" class="button back-button">back</button>
                <button ng-click="play()" class="button play-button">play</button>
            </div>
            <div class="selected-album-image" ng-click="setAlbum()">
                <img ng-src="{{selected_album.images[0].url}}" />
            </div>
            <div class="selected-album-name">
                {{selected_album.album_name}}
            </div>
            <div class="selected-album-artist">
                {{selected_album.artist_name}}
            </div>
        </div>


        <!-- <script ng-if="token_loaded" src="https://sdk.scdn.co/spotify-player.js"></script> -->
    </body>
</html>
