.album-list-container {
    /* display: grid; */

}

.list-album-container {
    display: inline-block;
}

.list-album {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "list-image"
        "list-name"
        "list-artist"
}

.list-image-container {
    grid-area: list-image;
}
.list-image {
    width: 300px;
}

.list-name-container {
    grid-area: list-name;
    justify-self: center;
}
.list-artist-container {
    grid-area: list-artist;
    justify-self: center;
}
