body {
          text-align: center;
          background-color: #222;
          color: aliceblue;
          padding-top: 10%;
        }

        #start {
            background-color: #222;
            color: aliceblue;
            padding: 15px;
            border-radius: 5px;
            font-size: 24px;
        }

        #login {
            color: aliceblue;
        }
        #login:hover {
            color: chartreuse;
        }
